#### How how to connect to a PostgreSQL database from Python and retrieve data into a DataFrame, using SQLAlchemy engine.

#### First, if you don't have it installed, install SQLAlchemy with:
##### !pip install sqlalchemy

In [16]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

#Create function to connect to database:
def connectToDbase():
    #try to connect to the database
    try:
        #create an SQLAlchemy engine
        engine = create_engine(
            "postgresql://username:password@localhost:5432/dbase"
            #The SQLAlchemy engine is created using a database URL
            #username is the username
            # password is the password
            #localhost is the host (provide by docker @ port 5432) 
            #dbase is the databased name.
        )
        #return the engine if connection is successfull
        return engine
    #except block is executed only if connection is not successful
    except Exception as e:
        #print the error message 
        print("Error connecting to the database:", e)

        #return nothing
        return None

In [21]:
#Define your query
query = "Select * from dfdata;"
#create an engine by calling the fuction connectToDbase()
engine = connectToDbase()

In [22]:
import pandas as df
##Get query output into dataframe if query is successfull

#If connection is successful
if engine:
    #try executing query with engine connection
    try:
        #Execute sql query to read data in sql table into python dataframe
        dataFrmDb = df.read_sql(query,engine)
        #print python dataframe to view output
        print(dataFrmDb)
    #If there is not data in table queried or any error in executing sql query
    except SQLAlchemyError as e:
        # Handle SQLAlchemy errors
        error_message = str(e.__cause__) if e.__cause__ else str(e)
        print(f"Failed to retrieve data: {error_message}")
    finally:
        #Disponse the engine
        engine.dispose()
#If connection is not successful
else:
    #Print error message
    print("Failed to connect to the database.")

     id firstname   lastname                        email  gender  age
0     1     Jessy   Glassman       jglassman0@answers.com  Female   89
1     2      Dion      Boase               dboase1@go.com    Male   52
2     3     Tucky     Creser       tcreser2@discovery.com    Male   42
3     4   Ricardo     Touhig              rtouhig3@va.gov    Male   75
4     5    Alexei  Churching         achurching4@1und1.de    Male   48
..  ...       ...        ...                          ...     ...  ...
95   96   Maridel    Priddle  mpriddle2n@sciencedaily.com  Female   29
96   97     Shirl    Cottell              scottell2o@t.co  Female   84
97   98    Kimmie   Stansell          kstansell2p@bbb.org  Female   11
98   99     Marty   Swancott     mswancott2q@usatoday.com  Female   98
99  100     Barth    Pipping          bpipping2r@ehow.com    Male   24

[100 rows x 6 columns]

In [23]:
dataFrmDb.head(10)

   id firstname   lastname                   email  gender  age
0   1     Jessy   Glassman  jglassman0@answers.com  Female   89
1   2      Dion      Boase          dboase1@go.com    Male   52
2   3     Tucky     Creser  tcreser2@discovery.com    Male   42
3   4   Ricardo     Touhig         rtouhig3@va.gov    Male   75
4   5    Alexei  Churching    achurching4@1und1.de    Male   48
5   6  Angelico    Brewett    abrewett5@oracle.com    Male   81
6   7    Leonie     Reford      lreford6@topsy.com  Female   85
7   8   Armando  Rivalland   arivalland7@lycos.com    Male   34
8   9      Pepi   Hounsham  phounsham8@skyrock.com  Female   11
9  10    Antoni    Ragless   aragless9@behance.net    Male   90